* {
    font-family: cursive;
    font-weight: 100;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 150%;
}

p {
    text-align: center;
    margin-top: 50px;
}

/* Start */
.container-start {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: flex-start;
}

.flex-item-start {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* End */
.container-end {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: flex-end;
}

.flex-item-end {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Center */
.container-center {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: center;
}

.flex-item-center {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Space Between */
.container-between {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: space-between;
}

.flex-item-between {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Space Around */
.container-around {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: space-around;
}

.flex-item-around {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Stretch */
.container-stretch {
    display: flex;
    flex-wrap: wrap;
    background-color: #2223;
    height: 600px;
    align-content: stretch;
}

.flex-item-stretch {
    background-color: rgba(70, 162, 238, 0.2);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}