* {
    font-family: cursive;
    font-weight: 100;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.first::first-line {
    color: blue;

}

.letter::first-letter {
    color: blue;
}

input::placeholder {
    color: blue;
}

.selection::selection {
    color: blue;
}

b::before {
    content: "before";
}

b::after {
    content: "after";
}